@charset "UTF-8";

/*--------------------------------------------
BASE STYLES (MOBILE-FIRST)
--------------------------------------------*/
* {
  box-sizing: border-box;
  }

/***** BASIC TEXT STYLES ******/
p {
  font-family: "Montserrat-subheading", "Verdana", "sans-serif";
  line-height: 25px;
  font-size: .95rem;
  color: #000;
  flex: 1 1 auto;
  width: 75%; 
  padding: 2%;
  }

h1, h2, h3 {
  font-weight: 545;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  text-align: center;
  }
 
h2, h3 {
  font-size: 1rem;
  letter-spacing: 3.5px;
  }

h3 {
  text-align: left;
  }

/* calc h2 results */
.h2Formula {
  color: grey;
}  

/* device.html (Note that these devices are stored in the telemetry room.) */
.note {
  font-size: .75rem;
  margin-top: -3%;
  line-height: 15px;
}  

 html, body {
  height: 100%;
  } 

body {
  display: flex;
  flex-direction: column;
  }

.wrapper {
  flex: 1 1 auto;
  }

  .contentinfo {
    flex-shrink: 0;
  }

/* sections on each html page */
.intro, .intro-MT,
.intro-TS, .intro-Q,
.intro-NG, .intro-INT,
.intro-PAPER, .intro-NOMA,
.intro-RHY, .intro-HR, 
.intro-REF, .intro-STUDY, 
main {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.noma, .noma-Tabs, section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* IMAGES */
.images {
  display: flex;
  flex-direction: column;  
  align-items: center;
}

.intro-img {
  border-radius: 8px;
  width: 75vw;
  margin-bottom: 2%;
}

.paper-img, .howToImg {
  width: 75%;
}

.wave-IMG, .NOMA-img {
  width: 95%;  
}

#techSupport, .howToImg {
  border-radius: 10px; 
}

/* Navigation */
/* actual logo */
.nav-logo {
  height: 80px;
  margin-top: -10px;
  margin-left: -5px;
  Z-index: 4;
  }

/* logo & hamburger menu grouped */
.logo {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}  

/* hamburger menu */
.hamburgerButton {
  width: 50px;
  height: 50px;
  padding-right: 16%;
  margin-top: 5px;
  }

.topNav {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
  }

#navLinks, .hams, #navLinks a {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color:#000;
  }

.hams {
text-align: center;
}  
   
#navLinks {
  display: none;
} 

/* Nav dropdowns */
/* Dropdown container - needed to position the dropdown content */
.dropdown, .dropdown-a , .dropdown-right{
  text-align: center;
  overflow: hidden;
  font-family: "Oswald", "sans-serif";
}

/* Style the dropdown button to fit inside the topnav */
.dropdown, .dropdown-a , .dropbtn, .dropbtn-a, 
.dropdown-right {
  /* letter-spacing: 3px; */
  border: none;
  outline: none;
  color: #000;
  padding: 14px 8px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content, .dropdown-content-a,
.dropdown-content-right, 
.dropdown-content-right a {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a,
.dropdown-content-a a { 
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.hams a:hover, .dropdown:hover .dropbtn, 
.dropdown-a:hover .dropbtn-a, 
#navLinks a:hover {
  background-color: #09a6d1;
  color: white;
  border-radius: 5px;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content, 
.dropdown-a:hover .dropdown-content-a ,
.dropdown-right:hover .dropdown-content-right {                            
  display: flex;
  flex-direction: column;
  align-self: center;  
}

.dropbtn, .dropbtn-a {
  margin-top: -13px;
}
/* END NAVIGATION */

/* LIGHTBOX */
#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  }
  
#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  }

#lightbox img {
  max-width: 100%;  
  max-height: 100%;
  padding: 5px;
  background-color: #171717;
  border-radius: 15px;
  transform: scale(1);
  }   
/***** lightbox End *****/


/* SIDEBAR MENU */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 90;
  left: 0;
  padding-top: 15%;
  border-radius: 5px;
  padding-top: -15%;
  background-color: #ea1d48;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.otherSidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 4;
  border-radius: 5px;
  background-color: #09a6d1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow-x: hidden;
  padding-top: 15%;
  transition: 0.5s;
}

/* The sidebar links */
.sidebar a, 
.otherSidebar a {
  padding: 10px 10px 10px 35px;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn,
.otherSidebar .closebtn {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 36px;
  color: #fff;
}

/*sidenav h2s */
.sideNaveh2 {
  color: #fff;
  margin-left: -20%; 
  margin-bottom: 10%;
}

/* The buttons used to open the sidebar */
.openbtn {
  position: fixed;
  height: 40px;
  width: 65px; 
  background-color: #ea1d48;
  border-radius: 110px;
  margin-top: 1.5rem;
  margin-left: -1.9rem;
  color: #fff;
  z-index: 3;
  font-size: 1.5rem;
  padding-left: 8%;
  
}

.openOTHERbtn {
  position: fixed;
  height: 40px;
  width: 65px; 
  padding-left: 8%;
  border-radius: 110px;
  background-color: #09a6d1;
  color: #fff;
  margin-top: 4rem;
  margin-left: -1.9rem;
  z-index: 3;
  font-size: 1.5rem;

}

.otherOtherBtn {
  position: fixed;
  height: 40px;
  width: 65px; 
  border-radius: 50px;
  background-color: #f68923;
  color: #fff;
  margin-top: 7rem;
  margin-left: -1.9rem;
  font-size: 1.5rem;
  padding-left: 8%;
}

/* button divs for sidebar navs */
.titleButton {
  display: flex;
  align-self: flex-start;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main, #main2 {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 5px;
}
/* END SIDEBAR NAV */

/* PHILLIPS SYSTEM GUIDE */
/* fig-captions */
.figParameters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capParameters {
  font-family: "Montserrat subheading", "Verdana", "sans-serif";
  font-style: italic;
  width: 80%;
  background-color: #000;
  color: #fff;
  width: 75%;
  margin-top: -10px;
  border-radius: 5px;
  text-align: center;
}

/* SYSTEM ICONS */
.teleIcons {
  width: 20%;
  height: 20%;
  margin-top: -5%;
}
.teleIconLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   width: 85%;
}

/* CALCULATOR */
/* TOOLTIPS FOR REGEX*/
.toolTip,
.toolTipabv {
  flex: 1 1 auto;
  border-radius: 20px;
  display: none;
  font-size: 0.75rem;
  text-align: center;
  background: #ea1d48;
  color: #fff;
  padding: 4px;
  position: absolute;
  width: 140px;
  top: 310px;
  left: 40px;
  text-transform: uppercase;
  }

.toolTip:after,
.toolTipabv:after {
  border: solid transparent;
  content: " ";
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #ea1d48;
  border-width: 15px;
  position: absolute;
  width: 0;
  height: 0;
  right: 5%;
  top: -52%;
  margin-top: -8px;
  }

#HR {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

#HRbtn, #QTCbtn  {
  display: inline-block;
  border-radius: 5px;
  background-color: #ea1d48;
  color: #fff;
  text-transform: uppercase;
  width: 45px;
  height: 45px;;
  margin-top: 10%;
  }

#QTCbtn {
  margin-left: 10%;
}

.HR-Input,  .QT-Input,
.rootRR-Input  {
  max-width: 30%;
  max-height: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 12px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
  background-color: #08343c2e;
  }

.QT-Input {
  margin-left: 17px;
}

.HR-Input:focus,
.QT-Input:focus
.rootRR-Input:focus {
  outline: 0;
  background-color: #fff;
  border-color: #ea1d48;
}

#HR-Result, #QTC-Result {
  display: inline-flex;
  flex-direction: row;
  margin-left: 10%; 
 justify-content: center;
}



/* FOOTER */
.footerLine {
  display: block;
  width: 65%;
  max-width: 85%;
  color: black;
  /* margin-bottom: -7%; */
  }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  }

.footerLine {
  margin-top: 15%;
}  

.copyright {
  align-self: center;
  margin-bottom: 3%;
  font-size: .85rem;
}

.disclaimer {
 width: 80%;
 padding-left: 5%;
 padding-right: 5%;
 padding-bottom: 5%;
 margin-left: 3%;
 align-self: center;
 font-size: .85rem;
}
/* FOOTER END */

/* Lists, links, clickable text */
/* regular list */
.intro-list {
  align-content: center;
  width: 60%;
  margin-left: 10%;
  line-height: 150%;
  }

.basic-list {
  list-style-type: circle;
  color: #000;
  line-height: 150%;
}

  /* review-times l regular ist */
.listrev {
  padding: 5%;
  list-style-type: circle;
  color: #000;
  line-height: 145%;
  width: 75%;
  margin-left: 10%;
}

  /* CLICKABLE LIST & LINKS */
.list, .save-strip, .systemList {
  padding: 5%;
  list-style-type: circle;
  line-height: 145%;
  width: 60%;
  margin-left: 10%;
  font-style: italic;
  text-decoration: underline;
  color:#09a6d1;
}

/* LINKS */
.save-strip {
  padding: 0;
  margin-left: 0;
}

.systemList {
  line-height: initial; 
   padding: initial;
   width: 100%;
 }

.accordion,
.accordionLink {
  font-family: "Montserrat subheading", "Verdana", "sans-serif";
  background-color: #09a6d1;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  box-shadow: 1px 1px #696969;
  border-width: 1px 1px 2px;
  padding: 8px;
  width: 300px;
  text-align: center;
  border: 1px solid #000;
  outline: none;
  margin-bottom: 3%;
  }

.accordion:after {
  content: "\02795"; /* Unicode character for (+) */
  font-size: 15px;
  color: #fff;
  float: right;
  }

.accordion.active:after {
  content: "\2796"; /* Unicode character for (-) */
  }

.active,
.accordion:hover {
  background-color: #f68923;
  transition: 0.9s;
  }

.panel {
  padding: 10 30px;
  margin-top: -7px;
  width: 300px;
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  display: none;
  overflow: hidden;
  border-radius: 5px;
  } 

.techSm, .tech-imgB, 
.tech-imgC,.tech-imgD,
.tech-imgE,.tech-imgF, 
.tech-imgG {
width: 75%;
cursor: pointer;
border-radius: 10px;
margin-top: 2vh;
}

.deviceTrackImg {
  display: none;
  border-radius: 8px;
  margin-top: 15%;
  margin-bottom: 15%;
}

li:hover + img {
  display: block;
  width: 100%;
}
  /* basic-page */


/*   
  Control Modal */
  /* control strip image */
  .control {
    width: 200px;
    border-radius: 8px;
    margin-top: 10%;
    cursor: pointer;
  } 

.Cmodal {
  cursor: pointer;
  width: 220px;
  height: 260px;
  display: flex;
  margin-top: -40%;
  margin-left: -5%;
  }

.Cmodal--hidden {
  display: none;
  }

.modalContents {
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  padding: 10px;
  border-radius: 5%;
  } 

#close {
  align-self: flex-end;
}

  /* center trend heartrate param img */
  .centerImg {
    margin-left: 15%; 
  }


  /* woi/ulp section */
  .noma, .noma-Tabs, section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* refrence page-- flash cards */
/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes 
out of the box on hover (remove perspective if you don't want the 3D effect */
.flashDisplay {
font-weight: bold;
font-size: .70rem;
color: #fff;
margin-top: 5%;
margin-bottom: 2%;
letter-spacing: 2.5px;
line-height: 15px;
}

.flashText {
  font-size: .70rem;
  line-height: 17px;
  text-align: left;
  color: #fff;
  width: 100%;
}

.strip {
  margin-top: 5%;
  width: 320px;
  height: 145px;
}

.caption {
  color: #fff;
  margin-top: 4%;
}

.flip-card {
  background-color: transparent;
  width: 340px;
  height: 230px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
  margin-bottom: 5%;
  box-shadow: 5px 6px rgba(0,0,0,0.2);
}

.flip-card:hover {
  animation: mymove 5s infinite;
  transform: scale(1.05, 1.15);
  max-width: 400px;
  border: 1px solid rgba(0,0,0,0.2)
}

@keyframes mymove {
  50% {box-shadow: 5px 10px #ea1d48;}
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f68923;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #09a6d1;
  color: white;
  transform: rotateY(180deg);
  height: 240px;
}

span {
  margin-bottom: 10%;
}

/* centers flash card */
.center-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* knowledge QUIZ */
.game-quiz-container{
  width: 90%;
  height: 100%;
  background-color: #09a6d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  margin: 2rem;
 
}

.game-details-container{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:#fff;
  margin-top: 5%;
}

.game-details-container h1{
  font-size: .75rem;
  letter-spacing: -.05px;
}

.game-question-container{
  width: 95%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 10%;
  margin-top: 5%;
  background-color: #fff;
}

.game-question-container h1{
  font-size: 1rem;
  text-align: center;
  padding: 3px;
  color: #09a6d1;
  font-weight: 550;
  letter-spacing: 2px;
}

.game-options-container{
  width: 95%;
  height: 25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}



.game-options-container span{
  width: 100%;
  height: 4rem;
  border: 2px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  font-size: .90rem;;
}

span label{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  font-weight: 400;
  color: #fff;;
}

span label:hover{
  -ms-transform: scale(1.12);
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  color: #fff;
}

input[type="radio"] {
  position: relative;
  display: none;
}


input[type=radio]:checked ~ .option {
  background: #f68923;
}

.next-button-container{
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.next-button-container button{
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background: none;
  color: #09a6d1;
  font-weight: 600;
  background-color: #fff;
  /* border: 2px solid lightgray; */
  cursor: pointer;
  outline: none;
}
.next-button-container button:hover{
  background-color: #ea1d48;
}

.modal-container{
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
  height: 20rem;
  width: 20rem;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

.modal-content-container h1{
  font-size: 1.3rem;
  height: 3rem;
  color: lightgray;
  text-align: center;
}

/* grade Modal */
.grade-details{
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.grade-details p{
  color: #fff;
  text-align: center;
}

.modal-button-container{
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button-container button{
  width: 10rem;
  height: 2rem;
  background: none;
  outline: none;
  border: 1px solid rgb(252, 242, 241);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 20px;
}
.modal-button-container button:hover{
  background-color: rgb(83, 82, 82);
}




/****** Small Screen Media Queries: Targets VP sizes 320px & narrow-er. *******/
  @media (max-width: 320px) {
      
    /* Flash Card Shrink */
    .strip {
        width: 270px;
      }
    
      .flip-card {
        width: 300px;
        height: 230px;
      }
    
 }




/****** Large Screen Media Queries: Targets VP sizes 765px & wider. *******/
  @media (min-width: 765px) {
    body {
      display: none;
    }
  }